
{% extends "post_newblog.html" %}
{% block content %}
<h1 align="center"> Build a Blog</h1>
{% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul style="list-style-type: none;">
            {% for blog in blogs %}
                <li><h3><a href={{ url_for('blogid' ,id=blog.id) }}>{{blog.blog_title}}</a></h3> 
                                          
                <!--<li><h3><a href="/blog/{{blog.id}}">{{blog.blog_title}}</a></h3>-->
                {{blog.blog_post}}
                </li>
            <hr/>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}